<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
  <body>
    <div class="contentContainer"></div>
      <%- include("./partials/nav.ejs") %>
      <div class="blogs content">
        <h2>Ooops! That page does not exist...</h2>
      </div>
      <%- include("./partials/footer.ejs") %>
    </div>
  </body>
</html>